<div class="container my-5 fullHeight">
    <h1 class="text-center">Admin Dashboard</h1>
    <br><br>
    <div class="dashboard-overview">
        <p>Welcome, {{admin.firstName}} {{admin.lastName}}!</p>
        <p>Here you can manage users, view reports, and configure system settings.</p>
    </div>
    <div class="dashboard-actions mt-4">
       
    </div>
</div>