<select class="form-select" id="aircraft" name="aircraft" required>
    <option value="" disabled selected>Select Aircraft</option>
    <option value="Airbus A320">Airbus A320</option>
    <option value="Airbus A320neo">Airbus A320neo</option>
    <option value="Airbus A321">Airbus A321</option>
    <option value="Airbus A321neo">Airbus A321neo</option>
    <option value="Airbus A330">Airbus A330</option>
    <option value="Airbus A350">Airbus A350</option>
    <option value="Boeing 737">Boeing 737</option>
    <option value="Boeing 777">Boeing 777</option>
    <option value="Boeing 787">Boeing 787</option>               
    <option value="Boeing 787 Dreamliner">Boeing 787 Dreamliner</option>
    <option value="Boeing 737 MAX">Boeing 737 MAX</option>
    <option value="Embraer E190">Embraer E190</option>
    <option value="Bombardier CRJ900">Bombardier CRJ900</option>
</select>