<ul class="list-unstyled mb-0" data-country="Philippines">
    <li>Manila (MNL)</li>
    <li>Cebu (CEB)</li>
    <li>Davao (DVO)</li>
    <li>Clark (CRK)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Japan">
    <li>Tokyo (HND)</li>
    <li>Osaka (KIX)</li>
    <li>Nagoya (NG0)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="China">
    <li>Beijing (PEK)</li>
    <li>Shanghai (PVG)</li>
    <li>Hong Kong (HKG)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Australia">
    <li>Sydney (SYD)</li>
    <li>Melbourne (MEL)</li>
    <li>Brisbane (BNE)</li>
    <li>Perth (PER)</li>
</ul>
    <ul class="list-unstyled mb-0 d-none" data-country="Vietnam">
    <li>Hanoi (HAN)</li>
    <li>Ho Chi Minh City (SGN)</li>
    <li>Da Nang (DAD)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Taiwan">
    <li>Taipei (TPE)</li>
    <li>Kaohsiung (KHH)</li>
    <li>Taichung (RMQ)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="South Korea">
    <li>Seoul (ICN)</li>
    <li>Busan (PUS)</li>
    <li>Jeju (CJU)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Thailand">
    <li>Bangkok (BKK)</li>
    <li>Chiang Mai (CNX)</li>
    <li>Phuket (HKT)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Singapore">
    <li>Singapore (SIN)</li>
    <li>Seletar (XSP)</li>
    <li>Paya Lebar (QPG)</li>
</ul>
<ul class="list-unstyled mb-0 d-none" data-country="Hong Kong">
    <li>Hong Kong (HKG)</li>
    <li>Shek Kong (VHSK)</li>
</ul>