
<li class="active" data-country="Philippines">Philippines</li>
<li data-country="Japan">Japan</li>
<li data-country="China">China</li>
<li data-country="Australia">Australia</li>
<li data-country="Vietnam">Vietnam</li>
<li data-country="Taiwan">Taiwan</li>
<li data-country="South Korea">South Korea</li>
<li data-country="Thailand">Thailand</li>
<li data-country="Singapore">Singapore</li>
<li data-country="Hong Kong">Hong Kong</li>
