<footer class="bg-danger text-white text-center p-4 mt-auto">
    <div class="container" id="footerContent">
        <div class="terms d-flex justify-content-right gap-3">
            <a href="/privacy-policy" class="text-white text-decoration-none">Privacy Policy</a>
            <a href="/terms-of-service" class="text-white text-decoration-none">Terms of Service</a>
            <a href="/contact" class="text-white text-decoration-none">Contact Us</a>
          </div>

          <div class="socials justify-content-center">
            <a href="https://facebook.com" class="text-white"><i class="bi bi-facebook me-2"></i></a>
            <a href="https://twitter.com" class="text-white"><i class="bi bi-twitter me-2"></i></a>
            <a href="https://instagram.com" class="text-white"><i class="bi bi-instagram"></i></a>
          </div>
          
        <div class="copyright">
            <p class="mb-1">&copy; 2025 Archers Airline. All rights reserved.</p>
        </div>
    </div>
</footer>