<nav class="navbar navbar-expand-lg bg-danger sticky-top">
    <div class="container-fluid">

      <div class="logo">
          <a class="navbar-brand" href="/">
            <img src="/assets/Logo/logo-white.png" alt="Logo">
          </a>
      </div>

      <!-- Nav Bar toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- Nav Links -->
        <div class="navbar-nav">
            <a href="/" class="nav-link text-white text-decoration-none mx-2">Flights</a>
            <a href="/bookFlight" class="nav-link text-white text-decoration-none mx-2">Book</a>
            <a href="/myReservation" class="nav-link text-white text-decoration-none mx-2">My Reservation</a>
        </div>

        <!-- Profile dropdown -->
        <div class="dropdown ms-3">
          <button class="btn btn-outline-light dropdown-toggle d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-5 me-1"></i>
            {{#if user}}
              <span>{{user.firstName}}</span>
            {{else}}
              <span>Account</span>
            {{/if}}
          </button>
          <ul class="dropdown-menu">
            {{#if user}}
              <li class="profile">
                <a class="dropdown-item" href="/users/profile">Profile</a>
              </li>
              <li class="logout">
                <form id="logoutForm" action="/users/logout" method="POST">
                  <button type="submit" id="logoutBtn" class="dropdown-item">Sign Out</button>
                </form>
              </li>
              {{#if (eq user.role 'Admin')}}
                <li><hr class="dropdown-divider"></li>
                <li class="admin-dashboard">
                  <a class="dropdown-item" href="/admin">Admin Dashboard</a>
                </li>
              {{/if}}
            {{else}}
              <li class="login">
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Sign In</a>
              </li>
              <li class="create">
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#signUpModal">Create Account</a>
              </li>
            {{/if}}
        </div>

      </div>
    </div>
</nav>

 <!-- Sign in modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <img class="text-center" src="../../assets/Logo/Logo-red.png">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="loginForm" class="needs-validation" method="POST" novalidate>
            <header class="text-center">
              <h1 class="modal-title fs-5" id="loginModalLabel">Sign In to your Account</h1>
            </header>
            <br>
            <div class="mb-3">
              <label for="loginEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="loginEmail" name="loginEmail" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
              <div class="invalid-feedback">Enter a valid email address.</div>
            </div>
            <div class="mb-3">
              <label for="loginPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="loginPassword" name="loginPassword" required minlength="8">
              <div id="forgotPassword" class="form-text"><a href="#">Forgot Password?</a></div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-danger float-end">Sign in</button>
            </div>
          </form>

          <div><p id="loginError" class="text-danger mt-2"></p></div>

        </div>
        <div class="modal-footer justify-content-center">
          <div id="accountSignUp">Not yet a member? <a class="login-link" href="#" data-bs-target="#signUpModal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign up</a></div>
        </div>
      </div>
    </div>
</div>

  <!-- Sign up modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
            <img class="text-center" src="../../assets/Logo/Logo-red.png">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="registerForm" class="needs-validation" method="POST" novalidate>
            <header class="text-center">
              <h1 class="modal-title fs-5" id="signUpModalLabel">Create Your Account</h1>
            </header>
            <br>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" name="firstName" minlength="2" required>
              <div class="invalid-feedback">Enter a valid First Name</div>
            </div>
            <div>
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName" minlength="2" required>
              <div class="invalid-feedback">Enter a valid Last Name.</div>
            </div>
            <div>
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
              <div class="invalid-feedback">Enter a valid email address.</div>
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required>
              <div class="invalid-feedback">Please enter your Date of Birth.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$" required>
              <div class="invalid-feedback">Passwords must follow requirments.</div>
            </div>
            <div class="mb-3 confirmPassword">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$" required>
              <div class="invalid-feedback"></div>
            </div>

            <div>
              <p class="form-text">Password Requirement</p>
              <ul class="form-text">
                  <li>At least 8 characters</li>
                  <li>A lowercase letter</li>
                  <li>An uppercase letter</li>
                  <li>A number</li>
                  <li>A symbol</li>
                  <li>No parts of your username</li>
                  <li>Does not include your first name</li>
                  <li>Does not include your last name</li>
                </ul>
            </div>
            <div class="acceptTerms">
              <div id="terms-conditions">
                <div>
                  <input type="checkbox" id="termsCheck" required>
                  <div class="invalid-feedback">You must accept the terms and conditions to proceed.</div>
                </div>

                <div>
                  <label for="termsCheck" class="form-text"> I confirm that I have read, understood, and
                    agree to the <a id="terms" href="#">Terms and Conditions</a> and the
                    updated Archers Airlines <a id="privacyPolicy" href="#">Privacy Policy</a>. I
                    consent to the collection, use, processing
                    and sharing of my personal information in
                    accordance therewith.</label>
                </div>
                
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-danger float-end">Proceed</button><br>
            </div>
          </form>

          <div><p id="registerError" class="text-danger mt-2"></p></div>

        </div>
        <div class="modal-footer justify-content-center">
          <div id="accountLogin">Already a member? <a class="login-link" href="#" data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Sign In</a></div>
        </div>
      </div>
    </div>
</div>


<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <img class="text-center" src="../../assets/Logo/Logo-red.png">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm" method="POST" class="needs-validation" novalidate>
                    <header class="text-center">
                        <h1 class="modal-title fs-5" id="forgotPasswordModalLabel">Reset Your Password</h1>
                    </header>
                    <br>
                    <div class="mb-3">
                        <label for="forgotEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="forgotEmail" name="forgotEmail" aria-describedby="emailHelp" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
                        <div class="invalid-feedback">Enter a valid email address.</div>
                        <div id="emailHelp" class="form-text">We'll send you an email to reset your password.</div>
                    </div>
                    <button type="submit" class="btn btn-danger float-end">Send Reset Link</button>
                </form>

                <div><p id="forgotError" class="text-danger mt-2"></p></div>
            </div>
            <div class="modal-footer justify-content-center">
              <div id="backToLogin"><a class="login-link" href="#" data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Go Back to Login </a></div>
            </div>
        </div>
    </div>
</div>
