<select {{#if (eq title 'Edit Flight')}} id="originSelect" {{else}} id="origin" {{/if}} name="origin" class="form-select" required>
   {{#if (eq title 'Edit Flight')}}
        <option value="{{flight.origin}}" selected>{{flight.origin}}</option>
    {{else}}
       <option value="">-- Select a city --</option>
    {{/if}}

  <optgroup label="Philippines"> 
    <option value="Manila (MNL)">Manila (MNL)</option>
    <option value="Cebu (CEB)">Cebu (CEB)</option>
    <option value="Davao (DVO)">Davao (DVO)</option>
    <option value="Clark (CRK)">Clark (CRK)</option>
  </optgroup>

  <optgroup label="Japan">
    <option value="Tokyo (HND)">Tokyo (HND)</option>
    <option value="Osaka (KIX)">Osaka (KIX)</option>
    <option value="Nagoya (NGO)">Nagoya (NGO)</option>
  </optgroup>

  <optgroup label="China">
    <option value="Beijing (PEK)">Beijing (PEK)</option>
    <option value="Shanghai (PVG)">Shanghai (PVG)</option>
    <option value="Hong Kong (HKG)">Hong Kong (HKG)</option>
  </optgroup>

  <optgroup label="Australia">
    <option value="Sydney (SYD)">Sydney (SYD)</option>
    <option value="Melbourne (MEL)">Melbourne (MEL)</option>
    <option value="Brisbane (BNE)">Brisbane (BNE)</option>
    <option value="Perth (PER)">Perth (PER)</option>
  </optgroup>

  <optgroup label="Vietnam">
    <option value="Hanoi (HAN)">Hanoi (HAN)</option>
    <option value="Ho Chi Minh City (SGN)">Ho Chi Minh City (SGN)</option>
    <option value="Da Nang (DAD)">Da Nang (DAD)</option>
  </optgroup>

  <optgroup label="Taiwan">
    <option value="Taipei (TPE)">Taipei (TPE)</option>
    <option value="Kaohsiung (KHH)">Kaohsiung (KHH)</option>
    <option value="Taichung (RMQ)">Taichung (RMQ)</option>
  </optgroup>

  <optgroup label="South Korea">
    <option value="Seoul (ICN)">Seoul (ICN)</option>
    <option value="Busan (PUS)">Busan (PUS)</option>
    <option value="Jeju (CJU)">Jeju (CJU)</option>
  </optgroup>

  <optgroup label="Thailand">
    <option value="Bangkok (BKK)">Bangkok (BKK)</option>
    <option value="Chiang Mai (CNX)">Chiang Mai (CNX)</option>
    <option value="Phuket (HKT)">Phuket (HKT)</option>
  </optgroup>

  <optgroup label="Singapore">
    <option value="Singapore (SIN)">Singapore (SIN)</option>
    <option value="Seletar (XSP)">Seletar (XSP)</option>
    <option value="Paya Lebar (QPG)">Paya Lebar (QPG)</option>
  </optgroup>

  <optgroup label="Hong Kong">
    <option value="Hong Kong (HKG)">Hong Kong (HKG)</option>
    <option value="Shek Kong (VHSK)">Shek Kong (VHSK)</option>
  </optgroup>
</select>
