footer {
    margin-top: auto;
} 
#footerContent {
    display: flex;
    align-items: flex-start;
}
.terms {
    width: 50%;
}
.socials {
    width: 50%;
}
.copyright {
    width: 50%;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  width: 100%;
  background: rgba(220, 53, 69, 0.9);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.2);
}