
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="display-4 text-danger">Access Denied</h1>
    <p class="lead">You do not have permission to access this resource.</p>
    {{#if user}}
      {{#if (not user.isAdmin)}}
        <p class="">Administrator privileges are required to access this page.</p>
            <a href="/" class="btn btn-danger mt-3">Return to Home</a>
      {{/if}}
    {{else}}
      <p class="">Please login to gain access.</p>
      <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-danger mt-3">Login</a>
    {{/if}}
  </div>
</div>