<div class="searchResults container my-5">
    <h1 class="text-center">Flight Search Results</h1>
    <br>
    <hr class="mb-4">
    <br>
    
    <div class="row justify-content-center g-4">
        {{#if (and outboundFlights.length returnFlights.length)}}
            <h3 class="text-center mb-4">Outbound Flights</h3>
            {{!-- Loop through outbound flights and display each in a card --}}
            {{#each outboundFlights}}
                {{!-- Include flight card partial --}}
                {{> flightCard this}}
            {{/each}}
            <br>
            <hr class="mb-4">
            <br>

            {{!-- Return Flights Section --}}
            {{#each returnFlights}}
                {{!-- Include flight card partial --}}
                {{> flightCard this}}
            {{/each}}
            
        {{else if (and (eq tripType "Round-Trip") outboundFlights.length (not returnFlights.length))}}
            <h3 class="text-center mb-4">Outbound Flights</h3>
            {{#each outboundFlights}}
                {{!-- Include flight card partial --}}
                {{> flightCard this}}
            {{/each}}
                <br>
                <hr class="mb-4">
                <br>

                {{!-- Return Flights Section --}}
                <h3 class="text-center mb-4">No Return Flights Available</h3>
        {{else if (and (eq tripType "One-Way") outboundFlights.length (not returnFlights.length))}}
            <h3 class="text-center mb-4">Available Flights</h3>
            {{#each outboundFlights}}
                {{!-- Include flight card partial --}}
                {{> flightCard this}}
            {{/each}}
        {{else if (and (not outboundFlights.length) returnFlights.length)}}
            <h3 class="text-center mb-4">No Outbound Flights Available for selected criteria</h3>
            <br>
            <hr class="mb-4">
            <br>

            {{!-- Return Flights Section --}}
            {{#each returnFlights}}
                {{!-- Include flight card partial --}}
                {{> flightCard this}}
            {{/each}}
        {{/else}}
            <h3 class="text-center mb-4">No Flights Available</h3>

        {{/if}} 
       
    </div>
</div>